.product-tax-text {
    font-size: 14px;
    text-align: center;
}

.product-tax-text .edit {
    display: inline-block;
}

.product-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
}

.product-wishlist {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.product-wishlist-inner {}

.select2-container {
    width: 110px !important;
}

.wishlist-logo {
    margin-right: 10px;
    color: red;
    font-size: 20px;
}


/* .product-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

.wishlist-popup {
    position: absolute;
    top: 10px;
    left: 10px;
}


.wishlist-popup span {
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
}

/* Mahbub CSS Start */
#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    width: 50%;
    position: relative;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
    float: left;
    color: #fff;
    font-weight: 600;
}

#progressbar li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #28a745;
    -webkit-clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 88% 50%, 75% 100%, 0% 100%, 11% 50%, 0% 0%);
    width: 242px;
    height: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-right: 15px;
    margin: 0 auto;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    color: #fff;
    background: #ccc;
    border-radius: 25px;
    margin: 0 auto 10px auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 4px;
    background: #ccc;
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 0;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    width: 50%;
    left: 51%;
}

#progressbar li:last-child:after {
    width: 49%;

}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #28a745;
    color: #fff;
}


.shipping-sys h2 {
    margin-top: 0 !important;
}

.checkout-box-shadow-style {
    -webkit-box-shadow: 0 0 6px 0px #b9e4ff;
    box-shadow: 0 0 6px 0px #b9e4ff;
    padding: 10px;
    border: 1px solid #ecf1f5;
    border-radius: 5px;
}

/* Start */
.add-border {
    border: 1px solid #ecf1f5;
    padding: 14px;
    border-radius: 5px;
}

/* End */
/* Mahbub CSS End */
.mw-cats-menu li a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 10px;
    color: rgb(33, 33, 33);
    position: relative;
    text-decoration: none !important;
    word-break: break-word;
}

.mw-cats-menu li button {
    background-color: transparent !important;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 8px;
}

.mw-cats-menu li button span {
    font-size: 16px;
    padding: 3px;
}

#delete_sss {
    margin-right: 10px;
}

#delete_sss span {
    color: red;
}

#edit_sss span {
    color: green;
}


.sidebar-custom-style {
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 0 2px 0px #dcdcdc;
    box-shadow: 0 0 2px 0px #dcdcdc;
    padding: 10px;
}

.login-modal {
    margin-top: 10px;
}

.btn-cart a {
    display: inline-block;
    position: relative;
}

.btn-cart .cart-icon {
    font-size: 25px !important;
}

.modal-backdrop {
    display: none;
}

.modal {
    background: rgba(0, 0, 0, 0.5);
}


#checkout-product .product-item {
    margin-bottom: 20px;
}

#checkout-product .item-title a {
    color: #666666 !important;
    font-weight: 600 !important;
}

#checkout-product .item-action a {
    color: red !important;
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

.mw-cart-table-product-info {
    font-size: 14px;
}

#to-top span {
    color: #fff;
    padding-top: 6px;
}

.product-inner-wishlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.add-cart-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 30px !important;
}


.related-product .cust-btn {
    color: red;
    border: 1px solid #333;
    padding: 5px 10px;
    /* background: green; */
    border-radius: 5px;
    font-size: 20px !important;
    position: absolute;
    content: "";
    left: 26px;
    top: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.related-product .product-label {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background: #222222;
    color: #ffffff;
    font-size: 8px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    right: 26px;
    top: 8px;
    font-weight: bold;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.related-product .toggle-content {
    top: 55px;
    left: 25px;
}

.checkout-checkbox {
    margin-bottom: 20px;
}

.item-cart {
    margin-top: 10px;
}

.fieldset {
    margin-bottom: 20px;
}

.cell-shipping-country .shipping-country-select {
    width: 50%;
    margin-left: auto;
}

.discount-button {
    margin-top: 10px;
}

.mw-cart-table-product-info span {
    white-space: nowrap;
}

.product-cart-icon:hover,
.product-quickcheckout-icon:hover {
    background-color: #fff;
}

.product-cart-icon:hover span,
.product-quickcheckout-icon:hover span {
    color: #007bff;
}

.shop-products .product h3 {
    color: #000 !important;
}

.share_input-text {
    margin-bottom: 20px;
}


.mw-shop-checkout-personal-info-holder .btn,
.discount-button .btn,
#act_button {
    background-color: #309bff !important;
    border: 1px solid #309bff !important;
    color: #fff !important;
}

.mw-shop-checkout-personal-info-holder .btn:hover,
.discount-button .btn:hover,
#act_button:hover {
    background-color: #0082fc !important;
    color: #fff !important;
    border: 1px solid #0082fc !important;
}

.member-nav>.dropdown>.dropdown-menu {
    width: 160px;
}

.member-nav>.dropdown>.dropdown-menu {
    margin-top: 22px !important;
}

.navigation .menu .list>li>a {
    padding: 0;
    /* margin: 0 30px; */
}

.member-nav .btn-cart i {
    font-size: 16px !important;
}

nav.navigation li a {
    border-radius: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

span.select2-selection.select2-selection--multiple {
    max-height: 60px;
    overflow: auto;
}

.item-cart {
    flex-direction: column;
}

.select2-results__option {
    word-wrap: break-word;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice {
    white-space: normal !important;
    word-break: break-word !important;
    padding-right: 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    height: 100%;
}

.mw-cart-item td .mw-order-item-image {
    height: 70px !important;
}

.customize-modal {
    width: 55% !important;
}


table.mw-cart-table th {
    font-size: 12px;
}

table.mw-cart-table th:first-child {
    width: 80px !important;
}

table.mw-cart-table td img {
    width: 100%;
    height: auto;
}

table.mw-cart-table td:first-child {
    padding: 5px !important;
    vertical-align: middle !important;
}

table.mw-cart-table td {
    vertical-align: middle !important;
    font-size: 12px;
    line-height: 20px !important;
}

table.mw-cart-table td.mw-cart-table-product {
    text-align: left;
}


#cartModal .modal-dialog {
    max-width: 1200px !important;
}

.btn-search {
    background-color: #000 !important;
    padding: 7px 10px !important;
    border-radius: 5px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.btn-search i {
    margin: 0 !important;
    color: #fff !important;
}

.search .dropdown-menu {
    width: 200px !important;
    padding-left: 5px;
    transform: translate3d(0px, 0px, 0px) !important;
    top: 26px !important;
}


.search-header-form button {
    background-color: #555555 !important;
    margin-left: 5px;
}

.member-nav .dropdown-menu:before {
    z-index: -1 !important;
}

/* Cart Bumbs */
.cart-bumbs-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px !important;
    flex-direction: column;
}


.cart-bumbs-product-description h2 {
    font-size: 22px !important;
    color: black !important;
}


.cart-bumbs-product-description .price span {
    font-size: 18px !important;
}

.cart-bumbs-cartButton {
    display: flex;
    justify-content: center;
}

.cart-bumbs {

    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    padding: 10px;
    margin: 15px 0;

}

.cart-bumbs-product-photo {
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.cart-bumbs-product-description {
    text-align: center;
}

.cart-bumbs-product-photo .image {
    height: 100% !important;
    width: 100% !important;
    border: 0px !important;
}

.cart-products-amount {
    margin-top: 20px;
}

.cart-bumbs-product-description .price {
    margin: 10px 0;
}


/* Checkout Bumbs */

.checkout-bumbs-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px !important;
    flex-direction: column;
}


.checkout-bumbs-product-photo .image {
    width: 100% !important;
    border: 0px !important;
}

.checkout-bumbs-product-description h2 {
    font-size: 22px !important;
    color: black !important;
}


.checkout-bumbs-product-description .price span {
    font-size: 18px !important;
}

.checkout-bumbs-cartButton {
    display: flex;
    justify-content: center;
}

.checkout-bumbs {
    margin-top: 25px;
}

.checkout-bumbs .shop-products {
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff;
    padding: 10px;
    width: 70%;
    margin: 0 auto;

}

.checkout-bumbs-product-photo {
    margin-bottom: 20px;
}

.checkout-bumbs-product-description {
    text-align: center;
}


.checkout-bumbs-product-description .price {
    margin: 10px 0;
}

.member-nav .btn-cart {
    margin: 0 10px;
}

/* After Edit CSS When Cart Broken */
.bamboo-hright {
    order: 2;
}

.bamboo-hright .toggle {
    height: unset !important;
    width: unset !important;
}

.bamboo-hright ul.member-nav {
    float: unset !important;
    margin-left: unset !important;
    transition: padding .5s;
}

.bamboo-hright ul.member-nav li.dropdown.btn-cart {
    border: none !important;
    padding: unset !important;
    outline: unset;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    -webkit-border-radius: unset !important;
    -moz-border-radius: unset !important;
    border-radius: unset !important;
}

.bamboo-hright li.dropdown.btn-member {
    display: unset !important;
    margin-left: unset !important;
    vertical-align: unset !important;
    /* margin-top: 15px !important; */
}

.btn-member .dropdown-menu li {
    padding: 8px 0;
}

.member-nav {
    display: flex;
    align-items: center;
}

.navigation .navbar-header .toggle {
    margin-right: 10px;
    order: 4;
}


.has-sub-menu li {
    padding: 8px 0;
}

.has-sub-menu li a {
    font-size: 20px;
}


#wishlist-list li {
    margin-bottom: 15px;
}


.cust-btn {
    color: red;
    border: 1px solid #333;
    padding: 5px 12px;
    /* background: green; */
    border-radius: 5px;
    font-size: 30px !important;
    position: absolute !important;
    content: "";
    left: 35px;
    top: 45px;
    transition: 0.3s;
}

.cust-btn:hover {
    background: #333;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.toggle-content {
    position: absolute;
    content: "";
    top: 98px;
    left: 34px;
    z-index: 100;
    background: #eaeaea;
    color: red;
    display: none;
    border-radius: 5px;
    padding: 8px 10px;
}

.custom-price {
    display: flex;
    align-items: center;
    padding: 15px;
}

.custom-price-img img {
    max-width: 32px !important;
    width: 40px;
    margin-right: 20px;
}

.pagination .page-link {
    border: 1px solid #007bff !important;
    margin: 0 8px;
    border-radius: 5px;
}


.member-nav .search button {
    background-color: #000 !important;
}

.pagination .page-link .page-link:hover,
.pagination .page-link .page-link:focus {
    background-color: #007bff !important;
    color: #fff !important;
    border-radius: 5px;
}

.pagination .page-link.active .page-link,
.pagination .page-link.active .page-link:hover {
    background-color: #007bff !important;
    color: #fff !important;
    border-radius: 5px;
}

.page-link:hover {
    z-index: 2;
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #dee2e6 !important;
}


.blog-posts .blog-date {
    font-size: 16px;
}

.blog-posts .blog-read-more-text {
    margin-top: 20px;
    display: inline-block;
}


.pagination {
    position: relative;
    padding-left: 100px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.page-item-Last-item {
    position: absolute;
    top: 0;
    left: 0;
}


.cart-bumbs-product-photo .image img {
    height: 100%;
}

.checkout-bumbs-product-photo .image img {
    height: 100%;
}

#wishlist-list li>span {
    display: block !important;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 10px;
    color: rgb(33, 33, 33);
    position: relative;
    text-decoration: none !important;
    word-break: break-word;
}




/* Category CSS */
.categorySideBar .module-categories>.well>ul.nav>li>ul {
    width: 100%;
}

.categorySideBar .module-categories>.well>ul.nav {
    position: relative;
    overflow: hidden;
}

.categorySideBar .module-categories>.well>ul.nav>li>ul {
    border: none;
}

.categorySideBar .module-categories>.well>ul.nav {
    transition: .5s ease;
}

.categorySideBar .module-categories>.well>ul.nav>li {
    transition: .5s ease;
}

.categorySideBar .module-categories>.well>ul.nav>li ul {
    left: -200%;
    display: block !important;
    transition: .5s ease;
    opacity: 0;
    height: 0px;
    overflow: hidden;
}

.categorySideBar .module-categories>.well>ul.nav li:hover>ul {
    padding-left: 20px;

    border: none;
    position: relative;
    left: 0;
    opacity: 1;
    height: auto;
    overflow: hidden;
}

.categorySideBar .module-categories>.well>ul.nav li a {
    border: 1px solid #dedede !important;
    margin: 5px auto;
    border-left: none !important;
    border-right: none !important;
    position: relative;
    padding-left: 20px;
}

.categorySideBar .module-categories>.well>ul.nav>li ul {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.categorySideBar .module-categories>.well>ul.nav>li>ul>li {
    padding: 0px;
}

.categorySideBar .module-categories>.well>ul.nav li a:before {
    position: absolute;
    content: '\f178';
    font-family: 'FontAwesome';
    left: -1px;
    color: #adadad;
    font-size: 12px;
    line-height: 24px;
}

.categorySideBar .module-categories>.well>ul.nav li {
    display: block !important;
    width: 100%;
}

span.viewMoreCategory {
    display: none;
}

.categorySideBar .module-categories>.well>ul.nav li a {
    display: block !important;
    padding: 6px 20px;
}

.categorySideBar .module-categories>.well>ul.nav li a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 991px) {
    span.hs-toggle {
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #000;
        top: 15px;
        right: 0px;
        cursor: pointer;
        z-index: 1;
    }

    .categorySideBar .module-categories>.well>ul.nav li {
        position: relative;
    }

    span.hs-toggle:after {
        position: absolute;
        content: "+";
        color: #fff;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        width: 100%;
    }

    .categorySideBar .module-categories>.well>ul.nav li.showThisSub ul {
        padding-left: 20px;
        border: none;
        position: relative;
        left: 0;
        opacity: 1;
        height: auto;
        overflow: hidden;
    }

    span.viewMoreCategory {
        position: relative;
        display: block;
        background-color: #000;
        color: #fff;
        text-align: center;
        padding: 10px;
        cursor: pointer;
    }


    .categorySideBar .module-categories>.well>ul.nav>li {
        display: none !important;
    }

    .categorySideBar .module-categories>.well>ul.nav>li:first-child,
    .categorySideBar .module-categories>.well>ul.nav>li:nth-child(2),
    .categorySideBar .module-categories>.well>ul.nav>li:nth-child(3),
    .categorySideBar .module-categories>.well>ul.nav>li:nth-child(4),
    .categorySideBar .module-categories>.well>ul.nav>li:nth-child(5) {
        display: block !important;
    }

    .categorySideBar .module-categories>.well>ul.nav.show_ucmAll>li {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    span.hs-toggle {
        position: absolute;
        height: 21px;
        width: 20px;
        background-color: #000;
        top: 12px;
        right: 0px;
        cursor: pointer;
        z-index: 1;
    }
}


/* .categorySideBar .module-categories>.well>ul.nav>li ul {
    width: 100% !important;
} */

.dt-old-price p {
    text-align: center !important;
    font-size: 15px !important;
    color: #f00 !important;
}

#termModal .modal-dialog {
    margin-top: 10px !important;
    max-width: 600px;
}

.product-tax-text span:nth-child(2) {
    cursor: pointer;
}

#exampleModalCenter .modal-dialog,
#exampleModalCenteredit .modal-dialog {
    margin-top: 10% !important;
}


.feature-image .image img {
    width: 50%;
}

.product-tax-text span:nth-child(2) {
    text-decoration: underline;
}

#checkout-product table {
    display: table !important;
}

.item-price span {
    font-size: 24px !important;
}

.legalModule-heading {
    background-color: rgb(225 225 225);
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

.legalModule-content {
    padding: 50px 0;
}

.mobile-view-title {
    display: none;
}

/* Stripe Card Payment Style */

.stripe-card-data {
    margin-bottom: 20px;
}

.CardNumberField-input-wrapper .InputContainer {
    background-color: #efefef;
}

.CardNumberField-input-wrapper input.InputElement,
.CardField-expiry input.InputElement,
.CardField-cvc input.InputElement {
    border-bottom: 1px solid #dbdbdb;
    background-color: #efefef;
}

span.CardField-cvc.CardField-child {
    margin-left: 2px;
}

.upselling-item .table thead {
    background: #222222;
    color: #fff;
}


footer #footer_menu {
    margin-bottom: 20px;
}

.error-page {
    padding: 50px;
    text-align: center;
}


.error-page h1 {
    font-size: 100px;
    margin-bottom: 50px;
}

.error-page h2 {
    margin-bottom: 20px;
}

#exampleModalCenteredit,
#exampleModalCenter {
    z-index: 999999999999999999;
}

.navigation-holder.not-transparent.nav-hide {
    z-index: 0;
}

/* Header Categoty Style */



.header-cat .nav>li {
    width: auto !important;
    float: none !important;
    margin-right: 40px;
    position: relative;
}

.header-cat .nav li>ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #000;
    top: 100%;
    left: 0;
    transition: all .3s;
    width: 200px;
}

.header-cat .nav li>ul>li {
    margin-right: 0;
    text-align: left;
    width: 100% !important;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 35px;
}

.header-cat .nav li>ul>li a {
    padding-left: 0;
    color: #fff;
    font-weight: 400;
}

.header-cat .nav>li:hover>ul {
    visibility: visible;
    opacity: 1;
}


.header-cat .nav li>ul>li>ul {
    left: 102%;
    top: 30%;
}

.header-cat .nav li.sub-cat {
    position: relative;
}

.header-cat .nav li.sub-cat::after {
    position: absolute;
    content: '\f178';
    font-family: 'FontAwesome';
    right: 6px;
    color: #fff;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
}


.shop-inner-page .elevatezoom #elevatezoom-gallery .slick-prev {
    left: 50% !important;
    top: -10px !important;
    transform: translateX(-50%) !important;
}

.shop-inner-page .elevatezoom #elevatezoom-gallery .slick-next {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 98% !important;
}

.shop-inner-page .elevatezoom #elevatezoom-gallery .slick-prev:before {
    content: '\f062' !important;
}

.shop-inner-page .elevatezoom #elevatezoom-gallery .slick-next:before {
    content: '\f063' !important;
}

#elevatezoom-gallery.mobile-view {
    display: none;
}

.blog-posts .description h3 {
    color: #222222;
    font-weight: 600;
    font-size: 24px;
    margin: 10px 0 10px 0;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog-posts .description p {
    height: 85px;
}

.blog-post-title {
    height: 75px;
}



.product-quantity_number input,
.product-quantity_number textarea {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 10px;
}

.product-quantity_number input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.product-quantity_number input::-webkit-outer-spin-button,
.product-quantity_number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.product-quantity_number .input-group {
    clear: both;
    margin: 15px 0;
    position: relative;
}

.product-quantity_number .input-group input[type='button'] {
    background-color: #eeeeee;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
}

.product-quantity_number .input-group .button-minus,
.product-quantity_number .input-group .button-plus {
    font-weight: bold;
    height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
}

.product-quantity_number .input-group .quantity-field {
    position: relative;
    height: 38px;
    left: -6px;
    text-align: center;
    width: 62px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
}

.product-quantity_number .button-plus {
    left: -13px;
}

.product-quantity_number input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.mobile-menu-label {
    display: none !important;
}

.bamboo-hright .toggle a {
    display: flex;
    align-items: center;
}


.shop-inner-page .elevatezoom #elevatezoom-gallery a {
    padding: 5px 10px !important;
}
