@import "vars";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');

body {
    font-family: @fontFamily;
    outline: none !important;
}

img {
    max-width: 100%;
}

html,
body {
    font-size: @bodyFontSize;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    background: @background;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}

p {
    line-height: 1.5;
    font-size: @paragraph-lg;
}

section {
    z-index: 1;
    position: static;
    clear: both;
}

section>div {
    z-index: 3;
    position: relative;
}

nav {
    z-index: 2;
}

.hidden {
    display: none
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .hidden-md {
        display: none !important;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }

}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/* Background */
.background-image-holder {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: static;
}

[data-bg-contain] .background-image-holder {
    background-size: contain;
}

[data-parallax] .background-image-holder {
    background-attachment: fixed;
}

@media screen and (max-width: 767px) {
    [data-parallax] .background-image-holder {
        background-attachment: scroll;
    }
}

[background-position="center top"] .background-image-holder {
    background-position: center top;
}

[background-position="center center"] .background-image-holder {
    background-position: center center;
}

[data-overlay] {
    position: relative;
}

[data-overlay] .background-image-holder:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, @default, @defaultGradient);
    opacity: 0.5;
    z-index: 2;
    pointer-events: none;
}

[data-overlay-inverse] .background-image-holder:after {
    background-image: linear-gradient(to bottom right, @primary, @primaryGradient);
}

[data-overlay-black] .background-image-holder:after {
    background-image: linear-gradient(to bottom right, #000, #000);
}

[data-overlay="1"] .background-image-holder:after {
    opacity: 0.1;
}

[data-overlay="2"] .background-image-holder:after {
    opacity: 0.2;
}

[data-overlay="3"] .background-image-holder:after {
    opacity: 0.3;
}

[data-overlay="4"] .background-image-holder:after {
    opacity: 0.4;
}

[data-overlay="5"] .background-image-holder:after {
    opacity: 0.5;
}

[data-overlay="6"] .background-image-holder:after {
    opacity: 0.6;
}

[data-overlay="7"] .background-image-holder:after {
    opacity: 0.7;
}

[data-overlay="8"] .background-image-holder:after {
    opacity: 0.8;
}

[data-overlay="9"] .background-image-holder:after {
    opacity: 0.9;
}

[data-overlay="10"] .background-image-holder:after {
    opacity: 1;
}

//.form-control {
//  -webkit-border-radius: 0;
//  -moz-border-radius: 0;
//  border-radius: 0;
//  border-color: #e9e9e9;
//  -webkit-box-shadow: none !important;
//  -moz-box-shadow: none !important;
//  box-shadow: none !important;
//  outline: 0 !important;
//  font-weight: 600 !important;
//  text-transform: uppercase;
//  color: @textDark;
//  font-size: 1rem;
//  padding: 20px 30px;
//  height: auto;
//}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cacaca;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cacaca;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #cacaca;
}

.bootstrap-select .dropdown-toggle:focus,
.btn:focus,
.btn-group .dropdown-toggle:active,
.btn-group.show .dropdown-toggle {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
}

/* Ajax Loading */

.js-ajax-loading {
    transition: .2s;

    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 999;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
        -webkit-animation: pulse 1s infinite cubic-bezier(.21, .53, .56, .8);
        animation: pulse 1s infinite cubic-bezier(.21, .53, .56, .8);
    }
}

body.page-loaded .js-ajax-loading {
    opacity: 0;
    visibility: hidden;
}

@keyframes pulse {

    0%,
    100% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }

    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@import "mw";

/* *******************************************
 **************** Containers *************** *
 ******************************************* */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        //width: 90%;
    }
}

@media (min-width: 1366px) and (max-width: 1599px) {
    .container {
        //width: 1336px;
        max-width: 1336px;
    }
}

@media (max-width: 1365px) {
    .navigation-holder .container {
        width: 90%;
        max-width: 90%;
    }
}

@media (min-width: 1600px) {
    .container {
        //width: 1600px;
        max-width: 1600px;
    }
}

/* *******************************************
 **************** Navigation *************** *
 ******************************************* */

@import "navigation";

/* *******************************************
 **************** Socials *************** *
 ******************************************* */
ul.socials.center {
    text-align: center;
}

ul.socials {
    margin-top: 20px;

    li {
        display: inline-block;
        color: @default;
        margin-right: 15px;
        width: auto;
    }

    li a {
        display: block;
        color: @light;
        text-decoration: none;
        background: @primary;
        height: 40px;
        width: 40px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        font-size: 26px;
        padding: 2px 0;
        text-align: center;
        position: relative;
    }

    li a:hover {
        background: @default;
        color: @dark;
        text-decoration: none;
    }
}

ul.socials.labels {
    li {
        display: inline-block;
        color: @default;
        margin-right: 15px;
        width: auto;
    }

    li a {
        display: block;
        color: @light;
        text-decoration: none;
        background: rgba(61, 0, 180, 0.03);
        height: 50px;
        width: auto;
        -webkit-border-radius: 33px;
        -moz-border-radius: 33px;
        border-radius: 33px;
        font-size: 12px;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
    }

    li a i {
        font-size: 26px;
        margin-right: 10px;
        float: left;
        margin-top: 2px;
    }

    li a span {
        float: left;
        display: block;
        margin-top: 7px;
        font-size: 12px;
        line-height: 18px;
    }

    li a:hover {
        background: @default;
        color: @light;
        text-decoration: none;
    }

    li a.facebook {
        background: #3B5998;
    }

    li a.google-plus {
        background: #d62d20;
    }

    li a.twitter {
        background: #1dcaff;
    }

    li a.pinterest {
        background: #cb2027;
    }

    li a.linkedin {
        background: #0077B5;
    }

    li:hover a {
        color: @light;
        background: @default;
    }
}

/* *******************************************
 **************** Socials *************** *
 ******************************************* */
ul.socials-2.center {
    text-align: center;
}

ul.socials-2 {
    //margin-top: 20px;

    li {
        display: inline-block;
        color: @textDark;
        margin: 0 10px;
        width: auto;
    }

    li a {
        display: block;
        color: @textDark;
        text-decoration: none;
        font-size: 26px;
        padding: 2px 0;
        text-align: center;
        position: relative;
    }

    li a:hover {
        color: @primaryHover;
    }
}

/* *******************************************
 **************** Elements *************** *
 ******************************************* */
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    padding: 0 10px 0 5px;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.show>.dropdown-toggle.btn-default.focus,
.show>.dropdown-toggle.btn-default:focus,
.show>.dropdown-toggle.btn-default:hover {
    color: @textDark;
    background: @default;
}

.flexbox-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.img-holder {
    text-align: center;
}

/* Checkbox */
.styled-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.styled-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

.styled-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.styled-checkbox input:checked~.checkmark {
    background-color: @default;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.styled-checkbox input:checked~.checkmark:after {
    display: block;
}

.styled-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;

    img {
        width: inherit;
    }

    .gmnoprint {
        width: 200px;
    }
}

/* To Top */
#to-top {
    width: 40px;
    height: 40px;
    background-color: @primary;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    opacity: .4;
    border: 0;
    color: @light;
    padding: 0;
    z-index: 99;
}

#to-top:before {
    content: "\f077";
    color: white;
    font-family: 'FontAwesome';
    position: relative;
    top: -1px;
}

#to-top:hover {
    opacity: 1;
}

/* Tables holder */
.div-table {
    display: table;
    width: 100%;
    height: 100%;
}

.div-table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

///* Buttons */
//.btn {
//  -webkit-border-radius: @borderRadiusButtons;
//  -moz-border-radius: @borderRadiusButtons;
//  border-radius: @borderRadiusButtons;
//  font-size: 1em;
//  font-weight: 600;
//  letter-spacing: @title-xs-ls;
//}

.btn-lg {
    font-size: 1.1em;
    padding: 18px 30px;
}

.btn-md {
    font-size: 1em;
    padding: 12px 30px;
}

.btn-sm {
    font-size: 0.9em;
}

.btn-xs {
    font-size: 0.8em;
}

.btn img {
    max-width: 100%;
    max-height: 30px;
}

.btn-default {
    color: @textLight;
    background: @dark;
    border: 1px solid @dark;
    -webkit-border-radius: @borderRadiusButtons;
    -moz-border-radius: @borderRadiusButtons;
    border-radius: @borderRadiusButtons;
}

.btn-default:hover,
.btn-default.focus,
.btn-default:focus {
    color: @textDark;
    background: @light;
    border: 1px solid @dark;
    -webkit-border-radius: @borderRadiusButtons;
    -moz-border-radius: @borderRadiusButtons;
    border-radius: @borderRadiusButtons;
}

.btn-primary {
    color: @textDark;
    background: @light;
    border: 1px solid @light;
    -webkit-border-radius: @borderRadiusButtons;
    -moz-border-radius: @borderRadiusButtons;
    border-radius: @borderRadiusButtons;
}

.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
    color: @textLight;
    background: @primary;
    border: 1px solid @primary;
    -webkit-border-radius: @borderRadiusButtons;
    -moz-border-radius: @borderRadiusButtons;
    border-radius: @borderRadiusButtons;
}

.btn i {
    float: left;
    margin-right: 10px;
}

/* Tables */
.table {
    //width: auto;
    //margin: 0 auto;
}

.table th {
    //background: @default;
    //color: @light;
}

.table th,
.table td {
    font-size: 16px;
}

.table td {
    //color: @dark;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    //border: 0;
    //padding: 10px 30px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    //background: rgba(61, 0, 180, 0.05);

}

/* Tabs */
.tabs {
    margin-bottom: 10px;
}

.tabs .tab-pane {
    min-height: 200px;
    padding: 80px 0;
}

.tabs .nav-tabs {
    border-bottom: 0;
}

@media screen and (max-width: 991px) {
    .tabs .tab-pane {
        padding: 80px 0 20px 0;
    }
}

.tabs .nav-tabs>li .icon::before {
    display: block;
    margin: 0 0 0.35em;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    pointer-events: none;
    font-size: 36px;
}

.tabs .nav-tabs>li.active .icon::before {
    color: @default;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.tabs .nav-tabs>li>a {
    color: @dark;
    font-size: 18px;
    line-height: 1.3333333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid transparent;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    display: inline-block;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

.tabs .nav-tabs>li>a span {
    font-weight: 700;
    color: @dark;
}

.tabs .nav-tabs>li.active>a span {
    font-weight: 700;
    color: @default;
}

.tabs .nav-tabs>li.active>a,
.tabs .nav-tabs>li.active>a:focus,
.tabs .nav-tabs>li.active>a:hover {
    color: @default;
    border: 0;
    border-bottom: 3px solid @default;
}

.tabs .nav>li>a:focus,
.tabs .nav>li>a:hover {
    background: transparent;
    color: @default;
    border-bottom: 3px solid @default;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .tabs .nav-tabs>li>a span {
        display: none;
    }

    .tabs .nav-tabs>li .icon::before {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (max-width: 480px) {
    .tabs .nav-tabs>li .icon::before {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .tabs .nav-tabs>li .icon::before {
        font-size: 28px;
    }
}

.tabs .nav-tabs>li {
    text-align: center;
}

/* Tabs 2 */
.tabs-2 {
    margin-bottom: 10px;
}

.tabs-2 .tab-pane {
    min-height: 200px;
    padding: 80px 0;
}

.tabs-2 .nav-tabs {
    text-align: center;
    border-bottom: 0;
}

@media screen and (min-width: 992px) {
    .tabs-2 .nav-tabs {
        border-bottom: 3px solid @default;
        height: 45px;
    }
}

.tabs-2 .nav-tabs>li {
    margin: 0 2px;
    display: inline-block;
    float: none;
}

.tabs-2 .nav-tabs>li>a {
    color: @dark;
    font-size: 16px;
    font-weight: bold;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 10px 30px;
    text-align: center;

    background: @light;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabs-2 .nav-tabs>li.active>a,
.tabs-2 .nav-tabs>li.active>a:focus,
.tabs-2 .nav-tabs>li.active>a:hover {
    color: @light;
    border: 0;
    background: @default;
}

.tabs-2 .nav>li>a:focus,
.tabs-2 .nav>li>a:hover {
    background: @light;
    color: @default;
}

.tabs-2 .nav-tabs>li>a i {
    margin-right: 10px;
    line-height: 18px;
    float: left;
}

.tabs-2 .nav-tabs>li>a i.material-icons {
    font-size: 22px;
    margin-top: 3px;
    line-height: 10px;
}

@media screen and (max-width: 991px) {
    .tabs-2 .nav-tabs>li {
        width: 50% !important;
    }
}

@media screen and (max-width: 767px) {
    .tabs-2 .nav-tabs>li {
        width: 100% !important;
    }
}

.tabs-2 .as-buttons.nav-tabs {
    border: 0;
    text-align: center;
}

.tabs-2 .as-buttons.nav-tabs>li {
    margin: 0 10px;
    display: inline-block;
    float: none;
}

.tabs-2 .as-buttons.nav-tabs>li a i {
    float: left;
    margin-top: 10px;
}

.tabs-2 .as-buttons.nav-tabs>li>a {
    border: 1px solid @default;
    -webkit-border-radius: @borderRadiusButtons;
    -moz-border-radius: @borderRadiusButtons;
    border-radius: @borderRadiusButtons;

    background-color: @light;
    color: @default;
}

.tabs-2 .as-buttons.nav-tabs>li.active>a,
.tabs-2 .as-buttons.nav-tabs>li.active>a:focus,
.tabs-2 .as-buttons.nav-tabs>li.active>a:hover {
    border: 1px solid @default;
    background-color: @default;
    color: @light;
}

/* Select holder */
.field-holder {
    margin-bottom: 20px;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    line-height: 19px;
}

//.field-holder label {
//  //color: @default;
//  //padding: 13px 15px 13px 0;
//  font-weight: bold;
//  font-size: 16px;
//}

.field-holder .bootstrap-select,
.field-holder label,
.field-holder input,
.field-holder select:not(.selectpicker) {
    float: left;
    display: block;
    width: auto !important;
}

//
//.field-holder .btn,
//.field-holder select:not(.selectpicker),
//.field-holder input {
//  -webkit-border-radius: @borderRadiusButtons;
//  -moz-border-radius: @borderRadiusButtons;
//  border-radius: @borderRadiusButtons;
//  border: 1px solid #d1d1d1;
//  font-size: 18px;
//  font-weight: bold;
//  color: @dark;
//  height: 46px;
//  padding: 12px 12px;
//  background: @light;
//}

/* Accordions */
.accordions .panel {
    border: 0;
    margin-bottom: 25px;
}

.accordions .panel-heading {
    background: rgba(61, 0, 180, 0.03);
    padding: 0;
    border-color: #f9f9f9;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.accordions .panel-collapse,
.accordions .collapse {
    width: 100%;
}

.accordions .panel-title {
    margin-bottom: 0;
    font-size: 20px;
    text-align: left;
}

.accordions .panel-title>.small,
.accordions .panel-title>.small>a,
.panel-title>a,
.accordions .panel-title>small,
.accordions .panel-title>small>a {
    font-size: 20px;
    color: @default;
    display: block;
    padding: 14px 12px;
}

.accordions .panel-title>a {
    font-size: 20px;
    color: @default;
    display: block;
    padding: 14px 12px;
    text-decoration: none;
    position: relative;
}

.accordions .panel-title>a:before {
    padding: 25px;
    background: @default;
    display: block;
    float: right;
    margin-top: -14px;
    margin-right: -12px;
    content: '';
}

.accordions .panel-title>a:after {
    font-family: FontAwesome;
    font-size: 24px;
    color: @light;
    display: block;
    content: '\f105';
    right: 19px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 24px;
    line-height: 0;
    transition: all 0.2s ease;
}

.accordions .panel-title>a.collapsed:after {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Safari 3-8 */
    transform: rotate(0deg);
}

.accordions .panel-body {
    padding: 15px;
    border: 1px solid #f9f9f9;
    border-top: 0 !important;
}

.accordions .panel-body,
.accordions .panel-body p {
    text-align: left;
    font-size: 16px;
    color: @dark;
    line-height: 1.5;
}

/* Form holder */
.leave-message-holder {
    max-width: 750px;
    margin: 0 auto;
}

.leave-message-holder .form-control {
    border: 1px solid #cecece;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    font-size: 16px;
    color: @dark;
    font-weight: bold;
    padding: 24px 20px;
    max-width: 100%;
    margin: 15px 0;
}

.leave-message-holder .form-control:focus {
    /*border-color: @default;*/
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(61, 0, 180, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(61, 0, 180, .6);
}

.leave-message-holder .captcha-holder>input,
.leave-message-holder .captcha-holder>div {
    float: left;
    display: block;
}

.leave-message-holder .captcha-holder>div {
    border: 1px solid #cecece;
    -webkit-border-radius: 33px;
    -moz-border-radius: 33px;
    border-radius: 33px;
    font-size: 16px;
    color: @dark;
    font-weight: bold;
    padding: 2px 14px;
    max-width: 100%;
    margin: 15px 0;
    background: @light;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    width: 40%;
    height: 50px;

}

.leave-message-holder .captcha-holder>div img {
    max-width: 100%;
    max-height: 44px;
}

.leave-message-holder .captcha-holder>input {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 60%;
}

.leave-message-holder .m-t-15 {
    margin-top: 15px !important;
}

/* Slick slider - Testimonials */
.slick-testimonials.slick-slider {
    padding-bottom: 30px;
}

.slick-testimonials.slick-slider {

    .slick-prev:before,
    .slick-next:before {
        color: @dark;
        font-size: 30px;
        padding: 5px;
        opacity: 1;
    }

    .slick-prev:hover:before,
    .slick-next:hover:before {
        color: @default;
    }
}

.slick-testimonials .slide-holder {
    width: auto;
    //height: 300px;
    padding-top: 45px;
    margin: 0 auto;
    max-width: 820px;
    text-align: center;
}

.slick-testimonials .slide .img-holder {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /*  -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;*/
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 0;
    background-color: @light;
}

.slick-testimonials .slide .info-holder {
    text-align: center;
}

.slick-testimonials .slide .info-holder h3 {
    color: @textDark;
    margin-bottom: 8px;
    font-size: @paragraph-md;
    font-weight: 600;
    margin-top: 20px;
}

.slick-testimonials.inverse .slide .info-holder h3 {
    color: @default;
}

.slick-testimonials .slide .info-holder h4 {
    color: @dark;
    font-weight: bold;
    margin-bottom: 18px;
}

.slick-testimonials .slide .info-holder p {
    color: @dark;
    font-weight: 500;
    font-size: @paragraph-md;
}

.slick-testimonials.inverse .slide .info-holder h4,
.slick-testimonials.inverse .slide .info-holder p {
    color: @light;
}

.slick-testimonials .slide {
    transition: all 0.4s ease;
}

.slick-testimonials .slick-dots {
    text-align: center;
    margin-top: 20px;
}

.slick-testimonials .slick-dots li {
    display: inline-block;
    font-size: 0px;
    margin: 0 0px;
}

.slick-testimonials .slick-dots li button {
    border: 0;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    //background: fade(@dark, 50%);
    background: transparent;
    border: 1px solid @dark;
}

.slick-testimonials.inverse .slick-dots li button {
    border: 1px solid @dark;
}

.slick-testimonials .slick-dots li.slick-active button {
    background: @dark;
}

.slick-testimonials .slick-dots li button:before {
    display: none;
}

@media screen and (max-width: 1199px) {
    .slick-testimonials .slide.slick-center {
        margin-top: 0px;
    }

    .slick-testimonials .slick-dots {
        margin-top: 30px;
    }
}

/* Slick slider - Testimonials 2 */

.slick-testimonials-2.slick-slider {
    padding-bottom: 30px;
}

.slick-testimonials-2 .slide-holder {
    width: 100%;
    margin: 0 auto;
}

.slick-testimonials-2 .slide .img-holder {
    width: 105px;
    height: 105px;
    background-size: cover;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 auto;
}

.slick-testimonials-2 .slide .info-holder {
    width: 100%;
    padding: 30px 0px 30px 0px;
    text-align: center;

}

.slick-testimonials-2 .slide .info-holder h3 {
    font-size: 30px;
    color: @light;
    font-weight: bold;
    margin-bottom: 8px;
}

.slick-testimonials-2 .slide .info-holder h4 {
    font-size: 14px;
    color: @light;
    font-weight: bold;
    margin-bottom: 38px;
}

.slick-testimonials-2 .slide .info-holder p {
    font-size: 16px;
    color: @light;
}

.slick-testimonials-2 .slide {
    transition: all 0.4s ease;
}

.slick-testimonials-2 .slick-dots {
    text-align: center;
}

.slick-testimonials-2 .slick-dots li button:before {
    display: none;
}

.slick-testimonials-2 .slick-dots li {
    display: inline;
    font-size: 0px;
    margin: 0 5px;
}

.slick-testimonials-2 .slick-dots li button {
    border: 0;
    height: 14px;
    width: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    background: transparent;
    border: 1px solid @light;
}

.slick-testimonials-2 .slick-dots li.slick-active button {
    background: @light;
    border: 1px solid @light;
}

@media screen and (max-width: 1199px) {
    .slick-testimonials-2 .slide.slick-center {
        margin-top: 0px;
    }

    .slick-testimonials-2 .slick-dots {
        margin-top: 30px;
    }
}

.slick-testimonials-2 .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 4;
    font-size: 0;
    border: 0;
    background: none;
    display: none !important;
}

.slick-testimonials-2:hover .slick-arrow {
    display: block !important;
}

.slick-testimonials-2 .slick-arrow:before {
    font-family: FontAwesome;
    color: @light;
    display: block;
    font-size: 20px;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

.slick-testimonials-2 .slick-next {
    right: 5%;
}

.slick-testimonials-2 .slick-next:before {
    content: '\f054';
}

.slick-testimonials-2 .slick-prev {
    left: 5%;
}

.slick-testimonials-2 .slick-prev:before {
    content: '\f053';
}

/* Slick brands */
.slick-brands .slide {
    text-align: center;
}

.slick-brands .slide img {
    max-width: 80%;
    margin: 0 auto;
}

/* Paging */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    font-weight: bold;
    color: @default;
    background-color: @primary;
    border: 1px solid @silver;
}

.pagination>li>a,
.pagination>li>span {
    color: @dark;
    background-color: @light;
    border: 1px solid @silver;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {

    color: @dark;
    background-color: @silver;
    border: 1px solid @silver;
}

// .pagination>li>a:focus,
// .pagination>li>a:hover,
// .pagination>li>span:focus,
// .pagination>li>span:hover {
//     color: @primary;
//     background-color: @default;
//     border-color: @silver;
// }

/* lists */
.styled-lists {}

.styled-lists li {
    color: @dark;
    padding: 0 30px;
    margin-bottom: 55px;
}

@media screen and (max-width: 1199px) {
    .styled-lists li {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 991px) {
    .styled-lists li {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 767px) {
    .styled-lists li {
        margin-bottom: 25px;
    }
}

.styled-lists li:before {
    content: '\f192';
    display: block;
    font-family: 'FontAwesome';
    position: absolute;
    margin: 3px 0 0 -22px;
    color: @default;
}

.styled-lists li strong {
    font-size: 20px;
    font-weight: bold;
}

.styled-lists li p {
    font-size: 16px;
}

/* Blog posts */
.blog-posts .post {
    overflow: hidden;
    display: block;
    text-decoration: none;
    max-width: 440px;
    margin: 0 auto;
    //border-bottom: 2px solid #dddddd;
    //margin-bottom: 45px;
    position: relative;
    height: 100%;
    //border:1px solid @grey;
    -webkit-box-shadow: 0 0px 3px 3px fade(@grey, 30%);
    box-shadow: 0 0px 3px 3px fade(@grey, 30%);
}

/*
.blog-posts .post:after {
  border-bottom: 4px solid @dark;
  content: '';
  width: 60px;
  margin: 0 auto;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transition: width 0.5s; !* Safari prior 6.1 *!
  transition: width 0.5s;
}*/

.blog-posts.four-columns .post {
    max-width: none;
}


.blog-posts.four-columns .description h3 {
    text-align: left;
}

.blog-posts .description .cats {
    color: @grey;
    font-size: 14px;
    margin: 5px 0 5px 0;
    text-decoration: none;
    text-align: center;
}

.blog-posts a,
.blog-posts a:hover {
    text-decoration: none;
}

.blog-posts .description {
    padding: 15px;
    text-align: center;
}

.blog-posts .description {
    min-height: 120px;
}

.blog-posts .description,
.blog-posts .description p {
    color: @textDark;
    font-size: @paragraph-sm;
    line-height: 1.7;
    letter-spacing: @title-xs-ls;
}

.blog-posts .post .image-holder {
    height: 240px;
    width: 100%;
    overflow: hidden;
    display: block;
}

.blog-posts .post .image {
    height: 240px;
    width: 100%;
    background-position: center center;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    transition: all .3s ease-in-out;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
    //padding-top: 56.25%; /* 16:9 Aspect Ratio */
    padding-top: 75%;
    /* 4:3 Aspect Ratio */

}

.blog-posts .post:hover .image {
    //transform: scale(1.1);
}

/*.blog-posts .post:hover:after {
  width: 100%;
}*/

/* Blog posts 2 */
.blog-posts-2 {
    .post {
        display: block;
        text-decoration: none;
        margin: 0 auto;
        position: relative;
        height: 100%;
    }

    .description h5 {
        color: @textDark;
        font-weight: 600;
        font-size: @paragraph-md;
        margin: 10px 0 10px 0;
        text-decoration: none;
        text-align: left;
        letter-spacing: @title-xs-ls;
    }

    a,
    a:hover {
        text-decoration: none;
    }

    .description {
        padding: 15px 0;
    }

    .description,
    .description p {
        color: @grey;
        font-size: @paragraph-sm;
        line-height: 1.7;
        letter-spacing: @title-xs-ls;
    }

    .post .image {
        width: 90px;
        height: 90px;
        min-width: 90px;
        background-position: center center;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        transition: all .3s ease-in-out;
        -webkit-background-size: cover;
        background-size: cover;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        float: left;
        margin-right: 20px;
    }
}

/* Teamcard */
.teamcard .member {
    margin-bottom: 25px;
}

.teamcard .description h3 {
    color: @dark;
    font-size: 24px;
    margin: 10px 0 5px 0;
    text-align: center;
    font-weight: bold;
}

.teamcard .description {
    padding: 15px;
    text-align: center;
}

.teamcard .description,
.teamcard .description p {
    color: @dark;
    font-size: 18px;
    line-height: 1.5;
}

.teamcard .member .image {
    height: 240px;
    width: 240px;
    margin: 0 auto;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

/* Teamcard 2 */
.teamcard-2 .member {
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.teamcard-2 .description h3 {
    color: @dark;
    font-size: 18px;
    line-height: 1.4;
    margin: 10px 0 5px 0;
    text-align: left;
    font-weight: bold;
}

.teamcard-2 .description {
    text-align: left;
}

.teamcard-2 .description span {
    font-size: 12px;
    display: block;
    color: @grey;
}

.teamcard-2 .description,
.teamcard-2 .description p {
    color: @dark;
    font-size: 16px;
    line-height: 1.4;
}

.teamcard-2 .member .image {
    height: 290px;
    margin: 0 auto;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.teamcard-2 .member .image .hover {
    visibility: hidden;
    display: inline-block;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.teamcard-2 .member:hover .image .hover {
    visibility: visible;
    background-color: fade(@dark, 80%);
    color: @light;
    opacity: 1;
}

.teamcard-2 .member .image .hover .socials {
    padding-top: 110px;
    text-align: center;
}

.teamcard-2 .member .image .hover ul.socials li {
    display: inline-block;
    color: @default;
    margin: 0 5px;
    width: auto;
}

.teamcard-2 .member .image .hover ul.socials li a {
    display: block;
    color: @default;
    text-decoration: none;
    background: rgba(61, 0, 180, 0.03);
    height: 40px;
    width: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 26px;
    padding: 2px 0;
    text-align: center;
    position: relative;
}

.teamcard-2 .member .image .hover ul.socials li a:hover {
    background: @default;
    color: @dark;
    text-decoration: none;
}

/* Shop products */
.shop-products .product {
    margin-bottom: 80px;
}

.shop-products .product h3 {
    color: @grey;
    //font-weight: bold;
    font-size: @title-md;
    margin: 80px 0 15px 0;
    text-decoration: none;
    text-align: center;
    min-height: 45px;
}

.shop-products.related-products .product h3 {
    margin: 40px 0 15px 0;
}

.shop-products .product a,
.shop-products .product a:hover {
    text-decoration: none;
}

.shop-products .product .image {
    padding: 15px;
    position: relative;
    background-origin: content-box;
    height: 360px;
    width: 100%;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid @silver;
}

.shop-products.related-products .product .image {
    height: 250px;
}

.shop-products .product .image:hover {
    border: 1px solid @dark;
}

.shop-products .product .image .hover {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: fade(@default, 15%);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.shop-products .product .image:hover .hover {
    visibility: visible;
    opacity: 1;
}

.shop-products .product .hover .btn {
    padding: 10px;
    text-align: center;
    margin: 0 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transform: translateY(-20px);
    transition: all .3s;
}

.shop-products .product .hover .btn+.btn {
    transform: translateY(20px);
}

.shop-products .product .image:hover .hover .btn {
    transform: translateY(0);
}

.shop-products .product .hover .btn i {
    margin: 0;
}

.shop-products .product .hover>* {
    top: 45%;
    position: relative;
}

.shop-products .product .price {
    font-size: @title-md;
    color: @dark;
    text-align: center;
}

.shop-products .product .price span {
    margin: 0 5px;
    font-size: @title-md;
}

.shop-products .product .price .strikethrough {
    font-size: @title-md;
    color: #d1d0c4;
    text-decoration: line-through;
}

.shop-products.related-products .product h3,
.shop-products.related-products .product .price .strikethrough,
.shop-products.related-products .product .price,
.shop-products.related-products .product .price span {
    font-size: 16px;
}

.shop-products .product-label {
    min-width: 60px;
    height: 60px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: @primary;
    color: @light;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    letter-spacing: 2px;
    right: 35px;
    top: 40px;
    font-weight: bold;
    z-index: 1;
}

.shop-products .product-label.promo {
    background: @default;
    color: @primary;
}

/* Pricing list */
.pricing-list {
    max-width: 1080px;
    margin: 0 auto;
    //border:1px solid @grey;
    -webkit-box-shadow: 0 0px 18px 0px fade(@grey, 30%);
    box-shadow: 0 0px 18px 0px fade(@grey, 30%);
}

.pricing-list>div {
    padding: 0;
    z-index: 9;
}

@media screen and (max-width: 767px) {
    .pricing-list {
        max-width: 380px;
    }

    .pricing-list>div {
        margin-bottom: 20px;
    }

    .pricing-list>div:last-of-type {
        margin-bottom: 0px;
    }
}

.pricing-list>div:hover {
    z-index: 99;
}

.pricing-list .plan .label {
    font-size: 12px;
    text-align: center;
    min-height: 26px;
    width: 100%;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 7px;
}

.pricing-list .plan {
    background-color: @light;
    -webkit-transition: transform 0.5s;
    /* Safari */
    transition: transform 0.5s;
}

.pricing-list .plan:hover {
    background-color: @default;
    cursor: pointer;
    transform: scale(1.1);
}

//.pricing-list .plan:hover {
//  color: @light;
//}
.pricing-list .plan .heading {
    font-size: 24px;
    text-align: center;
    padding: 40px 10px 0px 10px;

}

.pricing-list .plan .heading .price {
    position: relative;
    margin-bottom: 35px;
}

.pricing-list .plan .heading .price .sum {
    font-size: 48px;
    font-weight: bold;
    margin: 0 10px;

}

.pricing-list .plan .heading .price small {
    font-size: 24px;
    font-weight: bold;
}

.pricing-list .plan .heading .price .period {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    position: relative;
}

.pricing-list .plan .heading .price .period:before {
    content: '/';
    display: inline;
    font-size: 12px;
    line-height: 10px;
    font-weight: normal;
    position: absolute;
    top: 3px;
    left: -8px;
}

.pricing-list .plan .heading p {
    font-size: 24px;
    margin-bottom: 0;
}

.pricing-list .plan .description {
    text-align: center;
    padding: 25px 0;
}

.pricing-list .plan .description p {
    font-size: 16px;
    margin: 25px 0;
    text-align: center;
    font-weight: bold;
}

.pricing-list .plan .description p.strikethrough {
    text-decoration: line-through;
    color: #868686;
    font-weight: normal;
}

/* *******************************************
 ************** Footer ********************* *
 ******************************************* */
footer {
    background: #222222;
}

footer .logo {
    margin-bottom: 30px;
}

footer .logo img {
    max-width: 100%;
}

footer ul li {
    display: block;
    color: @silver;
    width: 100%;
}

footer a {
    color: @silver;
    text-decoration: none;
}

footer a:hover {
    color: @light;
    text-decoration: none;
}

footer ul li a {
    display: block;
    color: @silver;
    text-decoration: none;
    padding: 7px 0;
}

footer ul li a:hover {
    color: @light;
    text-decoration: none;
}

footer ul.socials {
    margin-top: 20px;
}

footer ul.socials li {
    display: inline-block;
    color: @light;
    margin-right: 15px;
    width: auto;
}

footer ul.socials li a {
    display: block;
    color: @light;
    text-decoration: none;
    height: 40px;
    width: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-size: 26px;
    padding: 2px 0;
    text-align: center;
    position: relative;
}

footer ul.socials li a:hover {
    background: @default;
    color: @dark;
    text-decoration: none;
}

footer,
footer p {
    color: @silver;
    font-size: 1rem;
    line-height: 1.9;
    padding: 3px 0;
}

footer .copyright {
    //padding-top: 50px;
}

footer .copyright p {
    color: @grey;
    font-size: 0.925rem;
    text-align: center;
    letter-spacing: @title-xs-ls;
}

footer h3,
footer h4,
footer h5,
footer h6,
footer .small-title {
    font-size: @title-xs;
    color: @silver;
    display: block;
    margin-bottom: 10px;
    text-transform: none;
    line-height: 1.9;
    letter-spacing: @title-xs-ls;
}

footer .title {
    font-size: @title-sm;
    color: @silver;
    display: block;
    margin-bottom: 0px;
    letter-spacing: @title-xs-ls;
}

footer .newsletter-holder {
    font-size: 36px;
    font-weight: 600;
    color: @silver;
}

@media screen and (max-width: 1450px) {

    footer .logo,
    footer .title,
    footer .small-title,
    footer ul.socials,
    footer ul {
        text-align: center;
    }

    footer ul.socials {
        margin-bottom: 20px;
    }

    footer .newsletter-holder {
        margin: 0 auto;
    }

    footer p {
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
    }
}

/* Newsletter */
.newsletter-holder {
    background: #292832;
    width: 420px;
    max-width: 100%;
    height: 55px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    padding: 5px;
}

.newsletter-holder input {
    border: 0;
    background: transparent;
    float: left;
    width: 65%;
    padding: 0 20px;
    height: 100%;
    font-size: 16px;
}

.newsletter-holder button {
    float: left;
    width: 35%;
    background: @default;
    color: @light;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 0;
    padding: 11px;
}

.newsletter-holder button:hover {
    background-color: @light;
    color: @default;
}

.section-silver {
    background: @silver;
}

.section-dark {
    background: @primary;
}

@import "sections";
@import "pages";

.feature-grid .img-holder {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 991px) {
    .feature-grid .img-holder {
        position: static;
        left: 0;
        transform: translateX(0);
    }

    .project-info-content {
        position: static !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
    }

}

.feature-grid:after {
    display: block;
    content: ' ';
    font-size: 0;
    clear: both;
}

.feature-grid {
    position: relative;
}

.feature-grid .left-side {
    float: left;
}

.feature-grid .right-side {
    float: right;
}

.bootstrap-select.btn-group .dropdown-menu li.selected a span.text {
    color: @light;
    font-weight: bold;
}

/* Effects */
.particles {
    position: relative;
    display: inline-block;
}

.particles-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.particles-canvas {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.module-menu {
    .dropdown-menu {
        border-radius: 0;
        background: @defaultGradient;
        color: @dark;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        transform: scaleY(0) scaleX(.2);
        top: 100%;
        transform-origin: left top;
    }

    .dropdown-menu li {
        position: relative;
    }
}

.navigation li .caret {
    transition: all .3s;
    transform: rotate(0);
}

.navigation li li .caret {
    position: absolute;
    top: 19px;
    right: 10px;
}

.navigation li:hover>a .caret {
    transform: rotate(-90deg);
}

.module-menu {
    .dropdown-menu .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        transform: scaleY(0) scaleX(.2);
        transform-origin: left top;
        top: 0;
        left: 100%;
    }

    .show>.dropdown-menu {
        opacity: 1;
        visibility: visible;
        transform: scaleY(1) scaleX(1);
    }

    .dropdown-menu>li>a:focus {
        background-color: transparent;
    }
}

.fx-border {
    position: relative;
    overflow: hidden;
}

.fx-border:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: lighten(@primary, 30%);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.27' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    transition: all .3s;
    visibility: hidden;
    transform: scale(.7);
    opacity: 0;
}

.fx-border:hover>* {
    color: white;
}

.fx-border:hover:before {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.fx-border>* {
    position: relative;
    z-index: 2;
    transition: all .3s;
}

[class*="fx-border-"] {
    position: absolute;
    background: #fff;
    opacity: 0;
    pointer-events: none;
}

.fx-border-top {
    top: 15px;
    width: 0;
    height: 1px;
    right: 15px;
    transition: all .5s;
}

.fx-border-right {
    top: 15px;
    right: 15px;
    width: 1px;
    height: 0;
    transition: all .7s;
}

.fx-border-bottom {
    bottom: 15px;
    width: 0;
    height: 1px;
    left: 15px;
    transition: all .9s;
}

.fx-border-left {
    top: 15px;
    left: 15px;
    width: 1px;
    height: 0;
    transition: all 1.1s;
}

.feature:hover>[class*="fx-border-"] {
    opacity: 1;
}

.feature:hover>.fx-border-top {
    width: calc(~"100% - 30px");
}

.feature:hover>.fx-border-right {
    height: calc(~"100% - 30px");
}

.feature:hover>.fx-border-bottom {
    width: calc(~"100% - 30px");
}

.feature:hover>.fx-border-left {
    height: calc(~"100% - 30px");
}

.slider-wrapper .swiper-slide {
    border-radius: 7px;
    overflow: hidden;
}

.slider-wrapper .swiper-slide>img {
    width: 100%;
}

@media (min-width: 741px) {
    .swiper-slide {
        opacity: .2;
    }

    .swiper-slide-prev,
    .swiper-slide-next {
        opacity: .7
    }
}

.swiper-slide-active {
    opacity: 1;
}

.material-icons,
.fa {
    position: relative;
    display: inline-block;
}

.info-block .particles {
    vertical-align: middle;
}

//.btn {
//  transition: background-color .3s, border-color .3s, color .3s;
//}

.q-swiper-button-next,
.q-swiper-button-prev {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    height: 60px;
    width: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    margin-top: -60px;
}

.q-swiper-button-prev {
    left: 0;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2023.44%2044"><polygon%20points%3D"23.44%201.44%202.88%2022%2023.44%2042.56%2022%2044%200%2022%2022%200%2023.44%201.44"%20fill%3D"%23fff"%2F><%2Fsvg>');
}

.q-swiper-button-next {
    right: 0;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2023.44%2044"><polygon%20points%3D"0%2042.56%2020.56%2022%200%201.44%201.44%200%2023.44%2022%201.44%2044%200%2042.56"%20fill%3D"%23fff"%2F><%2Fsvg>');
}

@media (max-width: 740px) {

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        display: none;
    }

}

/* Mobilemenu */
/* /Mobilemenu */
/**
 * Simple fade transition for Magnific Pop Up
 */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

footer a {
    transition: color .3s;
    text-decoration: none;
}

.member-nav>.dropdown>.dropdown-menu {
    margin-top: 32px;
}

.sticky .member-nav .dropdown-menu {
    margin-top: 22px;
}

@media (max-width: 991px) {
    .member-nav>.dropdown>.dropdown-menu {
        margin-top: 11px;
    }

    .sticky .member-nav .dropdown-menu {
        margin-top: 11px;
    }
}

.member-nav .dropdown-menu:before {
    position: absolute;
    top: -7px;
    width: 15px;
    height: 15px;
    background: @defaultGradient;
    transform: rotate(45deg);
    content: '';
    left: 30px;
}

@media (max-width: 550px) {
    .member-nav .dropdown-menu:before {
        left: auto;
        right: 20px;
    }
}

@media (max-width: 450px) {
    .member-nav .btn-cart {
        position: static;
    }

    .member-nav>.dropdown.btn-cart>.dropdown-menu {
        left: 0;
        right: 0;
        transform-origin: center top;
    }

    .member-nav>.dropdown>.dropdown-menu:before {
        display: none;
    }

    .member-nav>.dropdown>.dropdown-menu {
        margin-top: 0px;
    }

    .member-nav .shopping-cart-holder {
        width: 100%
    }

}

ul.socials li a {
    transition: all .3s;
}

/* *******************************************
 ************** Product Slider ************** *
 ******************************************* */
.product-slider-holder {
    min-height: 100px;
    padding: 0;
    padding-bottom: 30px;
}

.product-slider-holder .slick-dotted.slick-slider {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.product-slider-holder .flexbox-container {
    align-items: center;
    justify-content: center;
}

.product-slider-holder .left-side {
    text-align: left;
}

.product-slider-holder .product-slider .slide {
    padding: 70px 100px 30px 100px;
}

.product-slider-holder h1,
.product-slider-holder h2,
.product-slider-holder h3,
.product-slider-holder h4,
.product-slider-holder h5,
.product-slider-holder h6 {
    font-size: @title-md;
    font-weight: 600;
    margin-bottom: 50px;
    color: @textDark;
}

.product-slider-holder p,
.product-slider-holder span {
    font-size: @paragraph-lg;
    line-height: 1.5;
    color: @dark;
    font-weight: 300;
}

.product-slider-holder p {
    margin-bottom: 10px;
}

.product-slider-holder .btn {
    min-width: 150px;
}

.product-slider-holder .img-holder img {
    margin: 0 auto;
    max-height: 400px;
    max-width: 100%;
}

.product-slider .slick-arrow {
    position: absolute;
    z-index: 4;
    font-size: 0;
    border: 0;
    background: none;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

.product-slider .slick-arrow:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    color: @dark;
    display: block;
    font-size: 32px;
    line-height: 1;
    padding: 5px 20px;
}

.product-slider .slick-next {
    right: 0;
    width: auto;
    transition: all .5s ease;
    overflow: hidden;
}

.product-slider .slick-next:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: @default;
    transform: translateX(100%);
    transition: all .5s ease;
    z-index: -1;
}

.product-slider .slick-next:hover:after,
.product-slider .slick-next:focus:after {
    right: auto;
    left: 0;
    transform: translateX(0%);
    transition: all .5s ease;
}

.product-slider .slick-next:before {
    content: '\f054';
}

.product-slider .slick-prev {
    left: 0;
    width: auto;
    transition: all .5s ease;
    overflow: hidden;
}

.product-slider .slick-prev:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: @default;
    transform: translateX(-100%);
    transition: all .5s ease;
    z-index: -1;
}

.product-slider .slick-prev:hover:after,
.product-slider .slick-prev:focus:after {
    right: auto;
    left: 0;
    transform: translateX(0%);
    transition: all .5s ease;
}

.product-slider .slick-prev:before {
    content: '\f053';
}

.product-slider .slick-dots {
    text-align: center;
    margin: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.product-slider .slick-dots li {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-size: 0px;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
}

.product-slider .slick-dots li button {
    border: 0;
    height: 15px;
    width: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: transparent;
    padding: 3px;
    border: 2px solid @dark;
}

.product-slider .slick-dots li button:before {
    display: none;
}

.product-slider .slick-dots li.slick-active button {
    background: @dark;
    //height: 16px;
    //width: 16px;
    //border: 2px solid @dark;
}

@media screen and (max-width: 1366px) {
    .product-slider .slick-dots {
        margin: 30px 0;
    }
}

@media screen and (max-width: 1199px) {
    .product-slider-holder .img-holder {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 991px) {

    .product-slider-holder h1,
    .product-slider-holder h2,
    .product-slider-holder h3,
    .product-slider-holder h4,
    .product-slider-holder h5,
    .product-slider-holder h6 {
        text-align: center;
        font-size: 30px
    }

    .product-slider-holder p {
        text-align: center;
    }

    .product-slider-holder .flexbox-container {
        flex-direction: column-reverse;
    }

    .product-slider .slide .img-holder {
        max-height: 500px;
    }
}

@media screen and (max-width: 767px) {

    .product-slider-holder h1,
    .product-slider-holder h2,
    .product-slider-holder h3,
    .product-slider-holder h4,
    .product-slider-holder h5,
    .product-slider-holder h6 {
        text-align: center;
        font-size: 26px
    }

    .product-slider-holder .product-slider .slide {
        padding: 70px 10px 30px 10px;
    }

    .product-slider .slick-arrow {
        display: none;
    }
}

a.dropdown-toggle::after {
    float: right;
    display: block;
    margin-top: 10px;
}

.js-red-text {
    color: red;
}

.module-categories-template-default .nav-list li {
    width: 50%;
    float: left;
    margin-bottom: 5px;

    a {
        color: @textDark;
        text-transform: uppercase;
        font-size: @paragraph-sm;
        font-weight: 600;
    }
}

.sidebar__widget {
    margin-bottom: 30px;

    h6 {
        color: @textDark;
        text-transform: uppercase;
        font-size: @paragraph-md;
        letter-spacing: @title-sm-ls;
        font-weight: 700;

    }

    hr {
        margin-top: 5px;
        margin-bottom: 1rem;
        border-top: 2px solid #dddddd;
    }
}

.tags {
    margin-bottom: 20px;

    &:after {
        clear: both;
        display: block;
        content: '';
    }

    a {
        border: 2px solid #ddd;
        color: @textDark;
        font-size: 0.857rem;
        padding: 8px 15px;
        text-decoration: none;
        float: left;
        display: block;
        margin-bottom: 10px;
        margin-right: 10px;
        text-transform: uppercase;
        font-weight: 600;
    }

    a:hover {
        border: 2px solid @grey;
        color: @textDark;
    }
}

/* Small Cart Modal */
.member-nav {

    /* Start of .checkout-modal */

    .checkout-modal .modal-header {
        padding: 0rem;
        padding-bottom: 0;
    }

    .checkout-modal .step-button {
        text-align: center;
    }

    .checkout-modal .js-red-text {
        color: #dc3545;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .checkout-modal .js-green-text {
        color: #28a745;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
    }

    .checkout-modal .step-button.muted a {
        opacity: .4
    }

    .checkout-modal .step-button a {
        padding: 1.6rem 1rem;
    }

    .checkout-modal .step-button .js-show-step i {
        color: @dark;
    }

    .checkout-modal .step-button .js-show-step span {
        color: @dark;
        font-size: 0.9rem;
    }

    .checkout-modal .step-button .js-show-step.active {
        background: @dark;

    }

    .checkout-modal .step-button .js-show-step.active span,
    .checkout-modal .step-button .js-show-step.active i {
        color: @textLight;
    }

    .checkout-modal .js-step-content {
        display: none
    }

    .checkout-modal .js-shopping-cart .checkout-modal-products-wrapper .checkout-modal-product-list-item {
        padding: 0.75rem 0;
        position: relative;
    }

    .checkout-modal .js-shopping-cart .checkout-modal-products-wrapper .checkout-modal-product-list-item:after {
        height: 1px;
        background-color: @light;
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: calc(~"100% - 16px");
    }

    .checkout-modal .js-shopping-cart .checkout-modal-products-wrapper .checkout-modal-product-list-item:hover {
        background: @textLight;
    }

    .checkout-modal .js-shopping-cart .checkout-modal-product-list-item-action a {
        color: @default;
        opacity: 1;
        display: inline-block;
        line-height: 1;
    }

    .checkout-modal .js-shopping-cart .checkout-modal-product-list-item-qty select {
        margin-top: 2rem;
    }

    .checkout-modal .js-shopping-cart .checkout-modal-product-list-item-action .tooltip {
        margin-top: 5px
    }

    .checkout-modal .checkout-modal-list-item-cell {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.9rem;
    }

    .checkout-modal .js-shopping-cart .checkout-modal-product-list-item-title,
    .checkout-modal .js-shopping-cart .checkout-modal-product-list-item-title>* {
        /*    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;*/
    }

    .item-title a {
        color: @textLight  !important;
    }

    .checkout-modal .js-shopping-cart .checkout-modal-amount-holder .checkout-modal-promocode-holder,
    .checkout-modal .js-shopping-cart .checkout-modal-amount-holder .checkout-modal-total-holder {
        padding-top: 2.5rem;
        align-items: flex-start;
        align-content: flex-start;
    }

    .checkout-modal .js-shopping-cart .checkout-modal-amount-holder .checkout-modal-promocode-holder .form-control {
        font-style: italic
    }

    .checkout-modal .js-shopping-cart .checkout-modal-amount-holder .checkout-modal-promocode-holder p,
    .checkout-modal .js-shopping-cart .checkout-modal-amount-holder .checkout-modal-total-holder p {
        margin-bottom: 1rem;
    }

    .checkout-modal .checkout-modal-total-price {
        font-weight: bold;
    }

    .checkout-modal .js-step-content .row .field-holder,
    .checkout-modal .js-step-content .form-row .field-holder {
        margin-bottom: 1rem;
    }

    .checkout-modal .js-step-content .row .field-holder .bootstrap-select,
    .checkout-modal .js-step-content .form-row .field-holder .bootstrap-select,
    .checkout-modal .js-step-content .row .field-holder .form-control,
    .checkout-modal .js-step-content .form-row .field-holder .form-control {
        width: 100% !important
    }

    .checkout-modal .js-step-content .row .field-holder .form-control.input-md,
    .checkout-modal .js-step-content .form-row .field-holder .form-control.input-md {
        padding-right: 2rem !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .checkout-modal .checkout-modal-list-item-cell .form-control {
        max-width: 90px;
    }

    .checkout-modal .js-step-content .row:after,
    .checkout-modal .js-step-content .form-row:after {
        display: block;
        clear: both;
        content: ''
    }

    .checkout-modal .mw-ui-check input[type=checkbox]+span:after {
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        top: 1px !important;
    }

    @media screen and (max-width: 991px) {
        .checkout-modal .modal-header {
            padding: 0rem;
            padding-bottom: 0;
        }

        .checkout-modal .modal-body {
            padding: 2.5rem 1.5rem;
            padding-top: 1rem;
        }

        .checkout-modal .step-button .js-show-step span {
            font-size: .8rem;
        }

        .checkout-modal .js-shopping-cart .checkout-modal-amount-holder .checkout-modal-promocode-holder,
        .checkout-modal .js-shopping-cart .checkout-modal-amount-holder .checkout-modal-total-holder {
            padding-top: 1.5rem;
        }
    }

    @media screen and (max-width: 767px) {

        .checkout-modal .js-shopping-cart .checkout-modal-products-wrapper .row,
        .checkout-modal .js-shopping-cart .checkout-modal-products-wrapper .form-row {
            align-content: flex-start;
        }

        .checkout-modal .checkout-modal-list-item-cell .form-control {
            margin: .75rem 0;
        }

        .checkout-modal .js-shopping-cart .checkout-modal-product-list-item-action {
            align-items: flex-start;
            padding-top: .5rem;
        }

        .checkout-modal .step-button a {
            padding: 1rem;
        }
    }

    @media screen and (max-width: 575px) {
        .checkout-modal .modal-header {
            padding: 0rem;
            padding-bottom: 0;
        }

        .checkout-modal .modal-body {
            padding: 2.5rem 1rem;
            padding-top: 1.5rem;
        }

        .checkout-modal .step-button .js-show-step span {
            font-size: .7rem;
        }
    }

    @media screen and (max-width: 400px) {
        .checkout-modal .step-button a {
            padding: 1rem .5rem;
        }

        .coupon-col,
        .coupon-btn-col {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .coupon-btn-col {
            margin-top: .5rem;
        }
    }

    /* End of .checkout-modal */
    /*Small Checkout*/
    .dropdown-menu.shopping-cart {
        background-color: @textLight;
        padding: 0;
        border: 1px solid @light;
    }

    .dropdown-menu.shopping-cart:before {
        display: none;
    }

    .dropdown-menu.shopping-cart .products,
    .dropdown-menu.shopping-cart .products-amount {
        padding: 1.7rem;
    }

    .dropdown-menu.shopping-cart .products-amount .total * {
        font-size: 1.25rem;
    }

    .dropdown-menu.shopping-cart .products {
        padding-bottom: 0;
    }

    .dropdown-menu.shopping-cart .product-item {
        padding: 0.7rem 0;
        font-size: .9rem;
        border-bottom: 1px solid @light;
    }

    .dropdown-menu.shopping-cart a i {
        color: @default;
        font-size: 1.2rem;
    }

    @media screen and (min-width: 576px) {
        .dropdown-menu.shopping-cart {
            min-width: 25rem;
        }
    }

    @media screen and (max-width: 575px) {
        .dropdown-menu.shopping-cart {
            min-width: 25rem;
        }

        .dropdown-menu.shopping-cart .total {
            margin-bottom: 1rem;
        }
    }
}

.member-nav .btn-cart #shopping-cart-quantity {
    @media screen and (max-width: 575px) {
        display: none !important;
    }
}




.header-inverse .navigation .menu .list>li>a {
    color: @menuFontColor  !important;
}


.header-inverse .navigation .menu .list>li>a {
    font-size: @menuFontSize  !important;
}



.header-inverse .navigation .menu .list>.active>a,
.header-inverse .navigation .menu .navbar-nav>.active>a:focus,
.header-inverse .navigation .menu .navbar-nav>a:hover {
    color: @menuFontHoverColor  !important;
}

.header-inverse .navigation .menu .list>li>a:hover span {
    color: @menuFontHoverColor  !important;
}





// Shop Page CSS After Settings option




/* Shop products */
.shop-products .product {
    margin-bottom: 80px;
}

.shop-products .product h3 {
    margin: 10px 0 0px 0;
    text-decoration: none;
    text-align: center;
    min-height: 45px;
}

.shop-products.related-products .product h3 {
    margin: 40px 0 15px 0;
}

.shop-products .product a,
.shop-products .product a:hover {
    text-decoration: none;
}

.shop-products .product .image {
    padding: 15px;
    position: relative;
    background-origin: content-box;
    height: 360px;
    width: 100%;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.shop-products.related-products .product .image {
    height: 250px;
}

.shop-products .product .image:hover {}

.shop-products .product .image .hover {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.shop-products .product .image:hover .hover {
    visibility: visible;
    opacity: 1;
}

.shop-products .product .hover .btn {
    padding: 10px;
    text-align: center;
    margin: 0 5px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    transform: translateY(-20px);
    transition: all .3s;
}

.shop-products .product .hover .btn+.btn {
    transform: translateY(20px);
}

.shop-products .product .image:hover .hover .btn {
    transform: translateY(0);
}

.shop-products .product .hover .btn i {
    margin: 0;
}

.shop-products .product .hover>* {
    top: 45%;
    position: relative;
}

.shop-products .product .price {
    text-align: center;
}

.shop-products .product .price span {
    margin: 0 5px;
    font-size: 24px;
}

.shop-products .product .price .strikethrough {
    font-size: 24px;
    text-decoration: line-through;
}


.shop-products .product-label {
    width: 60px;
    height: 60px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    right: 35px;
    top: 40px;
    font-weight: bold;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Pricing list */
.pricing-list {
    max-width: 1080px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0px 18px 0px rgba(191, 191, 191, 0.3);
    box-shadow: 0 0px 18px 0px rgba(191, 191, 191, 0.3);
}

.pricing-list>div {
    padding: 0;
    z-index: 9;
}




.btn-primary {
    color: #fff !important;
    background-color: @primary  !important;
    border-color: @primary  !important;
}

.product .btn-primary:hover {
    color: @primary  !important;
    background-color: #fff !important;
    border-color: @primary  !important;
}

.product-cart-icon:hover span,
.product-quickcheckout-icon:hover span {
    color: @primary  !important;
}


.mw-shop-checkout-personal-info-holder a.btn.btn-default,
.discount-button a.btn.btn-default,
.mw-shop-checkout-personal-info-holder .btn,
.discount-button .btn {
    background-color: @primary  !important;
    border: 1px solid @primary  !important;
    color: #fff !important;
}

// .member-nav .search button {
//     background-color: @primary  !important;
// }

.page-link:hover {
    background-color: @primary !important;
    border-color: @primary !important;
}

.pagination .page-link {
    border: 1px solid @primary !important;
}

.blog-posts .blog-read-more-text{
    color: @primary !important;
}

.upselling-item .table thead {
    background: @primary  !important;
}

// Settings Modal Layout Header BG
@settingsHeaderBg: #4592ff;

.mw-dialog-skin-default .mw-dialog-header,
.mw-dialog-module-settings .mw-dialog-header {
    background-color: @settingsHeaderBg  !important;
}




// Image Opacity
@blogImgOpacity: 1;
@blogInnerImgOpacity: 1;
@productImgOpacity: 1;
@productInnerImageOpacity: 1;

// Implement Less CSS On Blog
.blog-posts .post .image {
    opacity: 0;
    opacity: @blogImgOpacity;
}

.blog-inner-page img {
    opacity: 0;
    opacity: @blogInnerImgOpacity;
}

.shop-products .product .image {
    opacity: 0;
    opacity: @productImgOpacity;
}

.shop-inner-page .elevatezoom #elevatezoom-gallery a,
.shop-inner-page .elevatezoom .elevatezoom-holder img {
    opacity: 0;
    opacity: @productInnerImageOpacity;
}

.product-tax-text span:last-child {
    color: @taxTextColor  !important;
}

.faq-card .btn-link:not(.collapsed) {
    background-color: @primary  !important;
}

.faq-card .card-header:hover,
.faq-card .card-header.active,
.faq-card .card-header.active:hover {
    background: @primary  !important;
}

.page-item.active .page-link {
    background-color: @primary !important;
}